
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 3;
    align-items: center;
}
.nome1{
    height: 700px;
    width: 800px;
    background-color: aquamarine; 
    display: grid;
    justify-content: center;
    align-items: center;

}

.nome2{
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.nome3{
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

    
    
}

.nome4{
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

    
    
}

.nome5{
    height: 90px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}